<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500229648069-gacb54bjtctdk46m2c4c8g109tpl4813.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500229648069-gacb54bjtctdk46m2c4c8g109tpl4813</string>
	<key>API_KEY</key>
	<string>AIzaSyBUKEAnhifBrsCyUX-uFk2MaX2rieQu7sU</string>
	<key>GCM_SENDER_ID</key>
	<string>500229648069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rewardshub.app</string>
	<key>PROJECT_ID</key>
	<string>cloudspace4u</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudspace4u.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500229648069:ios:ea6e004629ba1c9aba4aac</string>
	<key>DATABASE_URL</key>
	<string>https://cloudspace4u.firebaseio.com</string>
</dict>
</plist>